@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-image: linear-gradient(to right, #381D08, #F6D4CB);
    }

    section#login {
        background-image: linear-gradient(to right, #381D08, #F6D4CB);
    }

    section#login > div#imagem {
        background: url(../_imagens/fundo_tablet.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        margin-top: 10%;
    }

}

@media screen and (min-width: 993px) {
    body, html {
        background-image: linear-gradient(to right, #D01121, #C89D58);
    }

    section#login {
        background-image: linear-gradient(to right, #D01121, #C89D58);
    }

    section#login > div#imagem {
        
        background: url(../_imagens/fundo_desk.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        margin-top: 10%;
        float: left;
        width: 50%;
    }
}